@model IEnumerable<ClientMadbordet.ViewModels.MealWithFoodItemsViewModel<CalendarFoodItem, string>>

@{
    ViewData["Title"] = "Today";
}

<h1><a href="#"><</a>  @String.Format("{0:dd.MM yyyy}", @ViewData["mydate"]) <a href="#">></a></h1>

<div class="container">
    <div class="row">

        @foreach (var foodItemGroup in Model)
        {
            <h2>@foodItemGroup.Key</h2>
            <table class="table">
                <thead>
                    <tr class="bg-primary">
                        <th>energy prc</th>
                        <th>Food</th>
                        <th>Fats</th>
                        <th>Carbs</th>
                        <th>Proteins</th>
                        <th>Energy per 100gr</th>
                        <th>Weight</th>
                        <th>Actions</th>
                        <th>Food Energy percent</th>
                    </tr>
                </thead>


                @foreach (var item in foodItemGroup.Values)
                {
                    <tbody>
                        <tr id="tableline">
                            <td>
                                <canvas class="myChart" style="padding: 5px;margin: auto; width: 80px; height: 50px; display: inline-block; ">
                                </canvas>
                            </td>
                            <td><h5>@Html.DisplayFor(modelItem => item.Food.Name)</h5></td>
                            <td ><h5 class="fatValue">@Html.DisplayFor(modelItem => item.Food.Fat)</h5></td>
                            <td><h5 class="carbValue">@Html.DisplayFor(modelItem => item.Food.Carb)</h5></td>
                            <td><h5 class="proteinValue">@Html.DisplayFor(modelItem => item.Food.Protein)</h5></td>
                            <td><h5>@Html.DisplayFor(modelItem => item.Food.Energy)</h5></td>
                            <td><h5>@Html.DisplayFor(modelItem => item.Food.Weight)</h5></td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@food.FoodID">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@food.FoodID">Remove</a>*@
                                <a href="#" role="button" class="btn popovers" data-toggle="popover" title="ACTIONS"
                                   data-content="<a href='calendar/edit/@item.CalendarFoodItemID' title='Change content of food item'>Edit</a><br /><a href='calendar/delete/@item.CalendarFoodItemID' title='Remove this food item'>Remove</a>"
                                   data-original-title="">
                                    Action
                                </a>
                            </td>
                            <td>
                                <h5>
                                    protein @item.Food.ProteinEnergyPercent()
                                    protein @item.Food.FatEnergyPercent()
                                    protein @item.Food.CarbEnergyPercent()
                                </h5>
                            </td>
                        </tr>
                    </tbody>

                }
            </table>
        }

    </div>
</div>




