@model ClientMadbordet.ViewModels.CalendarViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ClientMadbordet.Controllers.CalendarController> Localizer

@{
    ViewData["Title"] = Localizer["Today"];
}

@section Scripts
{
    <script src="@Url.Content("~/js/CalendarIndex.js")"></script>
}

<h4 class="text-center bg-white p-2 text-capitalize border border-primary-green">
    <partial name="IndexPartials/_DateNavigation" model="Model" />
</h4>

@* meals container *@
<div class="container mt-5">
    @foreach (ClientMadbordet.ViewModels.MealWithFoodItemsViewModel<CalendarFoodItem, string> foodItemGroup in Model.CalendarFoodItems)
    {
        <div class="row bg-primary-green text-capitalize border rouded-pill rounded-top" id="MealHeader">

            <div class="infoAnimationGroup col-1 bg-dark text-light">
                <div class="totalsmenuitemdiv">
                    @if (@foodItemGroup.Values.Sum(x => x.Weight) > 0)
                    {
                        <partial name="IndexPartials\_IngredientTotalsLine" model="foodItemGroup"  />
                    }
                 </div>
            </div>

            <h4 class="col-8 mx-4 mt-1 text-uppercase text-dark mealtitle">
                @Localizer[foodItemGroup.Key]
            </h4>

            <div class="plussign-parent d-inline col-2 text-right">
                <a class="plussign-hover text-dark pt-2 text-right" href="/CalendarFood/Create/@Model.TheDateText/@foodItemGroup.Id">
                    <i class="fa fa-plus"></i>
                </a>
                <p class="plussign-text">@Localizer["Change foods in"] @Localizer[@foodItemGroup.Key] </p>
            </div>

        </div>

        @if (foodItemGroup.Values.Count() != 0)
        {
            @foreach (CalendarFoodItem item in foodItemGroup.Values)
            {
                <div class="row text-center bg-light border border-bottom">
                    <partial name="IndexPartials/_FoodItem" model="item" />
                </div>
            }
        }
    }
</div>


