@model ClientMadbordet.ViewModels.CalendarViewModel;

@{
    ViewData["Title"] = "Today";
}

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog full-screen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add food</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-plus fa-2x fa-rotate-45"></i></span>
                </button>
            </div>
            <div class="modal-body p-4" id="result">
                <div class="row">
                    @foreach (var meal in Model.Meals)
                    {
                        <div class="col-sm-6 col-lg-3">
                            <a href="/CalendarFood/Add/@Model.TheDateText/@meal.MealID" 
                               title="Add food @Html.DisplayFor(modelItem => meal.Name) ">
                               @Html.DisplayFor(modelItem => meal.Name)
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<h1>
    <a href="/Calendar/index/@Model.TheDate.AddDays(-1).ToString("yyyy'/'M'/'dd")" id="yesterday">&lt;</a>
    <span id="today">@String.Format("{0:dd.MM yyyy}", @Model.TheDate)</span>
    <a href="/Calendar/index/@Model.TheDate.AddDays(1).ToString("yyyy'/'M'/'dd")" id="tomorrow">&gt;</a>
</h1>

<div class="container">
    <div class="row">

        @foreach (var foodItemGroup in Model.CalendarFoodItems)
        {
            <div id="MealHeader">
                <h2>
                    @foodItemGroup.Key
                                <a style="display:inline" href="/CalendarFood/Create/@Model.TheDateText/@foodItemGroup.Id">
                                    <i class="fa fa-plus fa-xs"></i>
                                </a>
                </h2>
            </div>

            @if (foodItemGroup.Values.Count() != 0)
            {
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="bg-primary">
                                <th class="">energy prc</th>
                                <th>Food</th>
                                <th>Fats</th>
                                <th>Carbs</th>
                                <th>Proteins</th>
                                <th>Energy per 100gr</th>
                                <th>Weight</th>
                                <th></th>
                            </tr>
                        </thead>

                        @foreach (var item in foodItemGroup.Values)
                        {
                            <tbody>
                                <tr id="tableline">
                                    <td class="d-none d-lg-table-cell">
                                        <canvas class="myChart" style="padding: 5px;margin: auto; width: 80px; height: 50px; display: inline-block; "></canvas>
                                    </td>
                                    <td><h5>@Html.DisplayFor(modelItem => item.Food.Name)</h5></td>
                                    <td><h5 class="fatValue">@Html.DisplayFor(modelItem => item.Food.Fat)</h5></td>
                                    <td><h5 class="carbValue">@Html.DisplayFor(modelItem => item.Food.Carb)</h5></td>
                                    <td><h5 class="proteinValue">@Html.DisplayFor(modelItem => item.Food.Protein)</h5></td>
                                    <td><h5>@Html.DisplayFor(modelItem => item.Food.Energy)</h5></td>
                                    <td><h5>@Html.DisplayFor(modelItem => item.Food.Weight)</h5></td>
                                    <td>
                                        <form asp-action="Delete" asp-controller="CalendarFood" asp-route-id="@item.CalendarFoodItemID">
                                            @{
                                                var back = @Model.TheDateText + '/' + item.Meal.MealID;
                                                //if (@Model.queryString != null && Model.queryString != "")
                                                //{
                                                //    back += '/' + @Model.queryString;
                                                //}
                                            }
                                            <input id="back"
                                                   name="back"
                                                   type="hidden"
                                                   value="@back" />

                                            <button type="submit">
                                                <span class="fa-stack">
                                                    <i class="fas fa-circle fa-stack-2x text-danger "></i>
                                                    <i class="fa fa-minus fa-stack-1x " style="color:white"></i>
                                                    <i class="fa fa-minus fa-stack-1x " style="color:white"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    </table>
                    </div>
                    }
                    else
                    {
                    <p>No values</p>
                    }
                    }
                </div>
        </div>
